<div class="card m-3 rounded-4">
      
    <div class="d-flex justify-content-between align-items-center mx-3 mt-2">
        <h3 class="card-title h2" id="skill">{{titulo}}</h3>
        <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    
    <div class="container m-2">
        <div class="row align-items-center">
            <img class="col-md-1 col-sm-2" src="/assets/img/javascript.png" alt="">
            <div class="col-md-11 col-sm-10 container">
                <h3 class="card-title m-1 h3">JavaScript</h3>
            </div>
        </div>
    </div>
    <div class="container m-2">
        <div class="row align-items-center">
            <img class="col-md-1 col-sm-2" src="/assets/img/java.png" alt="">
            <div class="col-md-11 col-sm-10 container">
                <h3 class="card-title m-1 h3">Java</h3>
            </div>
        </div>
    </div>

</div>
