<div class="card m-3 rounded-4">
      
    <div class="d-flex justify-content-between align-items-center mx-3 mt-2">
        <h3 class="card-title h2" id="skill">{{titulo}}</h3>
        <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    
    <div class="container m-2">
        <div class="row align-items-center">
            <div class="col-md-11 col-sm-10 container">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="card-title m-1 h3" href="https://alura-geek-e-commerce.netlify.app/">E-commerce</a>
                    <div class="d-flex">
                        <fa-icon class="mx-3" [icon]="faPen"></fa-icon>
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </div>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis tempora veritatis possimus quisquam magni quia delectus culpa nulla numquam reiciendis assumenda eveniet placeat explicabo asperiores quasi, in facere voluptatem iure?</p>
            </div>
        </div>
    </div>
    <div class="container m-2">
        <div class="row align-items-center">
            <div class="col-md-11 col-sm-10 container">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="card-title m-1 h3" href="https://alura-ahorcado.netlify.app/">Ahorcado</a>
                    <div class="d-flex">
                        <fa-icon class="mx-3" [icon]="faPen"></fa-icon>
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </div>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis tempora veritatis possimus quisquam magni quia delectus culpa nulla numquam reiciendis assumenda eveniet placeat explicabo asperiores quasi, in facere voluptatem iure?</p>
            </div>
        </div>
    </div>

</div>

