<nav class="navbar navbar-expand-xl navbar-dark bg-dark">

  <div class="container-fluid">

    <a class="navbar-brand" href="#">{{titulo}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
      aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarDark">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#acerca-de">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Proyectos</a>
        </li>
      </ul>
    </div>
    
  </div>

</nav>