.contenedor-imagen{
    height: 50vh;
    overflow: hidden;
    vertical-align: center;
}
.imagen-perfil{
    border-radius: 50%;
    height: 12rem;
    margin: 17rem 0 0 1rem;
    position: absolute;
    width: 12rem;
}

.fapen-header{
    border-bottom: 1px solid blue;
    margin: 25rem 0 0 14rem;
    position: absolute;
    width: 1rem;
}