<div class="card m-2 rounded-5">
  <img src="assets/img/space.jpg" class="card-img-top" alt="card-img-top">
  
  <div class="container">
    <div class="col4">
      <h5 class="card-title h3">Cristian Vera</h5>
      <p class="card-text">Estudiante de Informatica</p>
      <p class="card-text">Córdoba (Argentina)</p>
      <a class="card-text text-muted" href="#">Información de contacto</a>
    </div>
  <div class="container my-3">
    <button class="btn btn-primary m-2">Tengo interés en</button>
    <button class="btn btn-light m-2">Añadir sección</button>
    <button class="btn btn-light m-2">Más</button>
  </div>
</div>