<div class="card m-3 rounded-4">
  
  <div class="contenedor-imagen rounded-4 mb-4">
    <img src="assets/img/space.jpg" class="card-img-top portada" alt="card-img-top">
  </div>
  
  <img class="imagen-perfil" src="assets/img/foto.jpg" alt="foto perfil">
  <fa-icon class="col-1 fapen-header" [icon]="faPen"></fa-icon>
  
  <div class="card-body mt-5">
    <h5 class="card-title h2">{{titulo}}</h5>
    <p class="card-text m-0">Estudiante de informatica</p>
    <p class="card-text">Córdoba (Argentina)</p>
    <button class="btn btn-primary">Tengo interés en</button>
    <button class="btn btn-light mx-3">Añadir Sección</button>
    <button class="btn btn-light">Más</button>
  </div>
  
</div>