.contenedor-imagen{
    height: 40vh;
    overflow: hidden;
    vertical-align: center;
}
.imagen-perfil{
    margin: 13rem 0 0 1rem;
    position: absolute;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}