<div class="card m-3 rounded-4">
      
    <div class="d-flex justify-content-between align-items-center mx-3 mt-2">
        <h3 class="card-title h2" id="experiencia">Experiencia</h3>
        <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    
    <div class="container m-2">
        <div class="row">
            <img class="col-md-1 col-sm-2" src="/assets/img/logo-apex.jpg" alt="">
            <div class="col-md-11 col-sm-10 container">
                <h3 class="card-title m-1 h3">Atención al cliente</h3>
                <p class="card-text m-1">Apex - Jornada completa</p>
                <p class="card-text m-1">septiembre 2015 - agosto 2022</p>
            </div>
        </div>
    </div>
    <div class="container m-2">
        <div class="row">
            <img class="col-md-1 col-sm-2" src="/assets/img/vates-logo.jpg" alt="">
            <div class="col-md-11 col-sm-10 container">
                <h3 class="card-title m-1 h3">Analista de soporte de aplicaciones</h3>
                <p class="card-text m-1">Vates - Jornada completa</p>
                <p class="card-text m-1">agosto 2022 - actualidad</p>

            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-between align-items-center mx-3 mt-2">
        <h3 class="card-title h2">Educación</h3>
        <fa-icon [icon]="faPlus"></fa-icon>
    </div>

    <div class="container m-2">
        <div class="row">
            <img class="col-md-1 col-sm-2" src="/assets/img/logo-argentina-programa.jpg" alt="">
            <div class="col-md-11 col-sm-10 container">
                <h3 class="card-title m-1 h3">Argentina programa</h3>
                <p class="card-text m-1">oct 2021 - actualidad</p>
            </div>
        </div>
    </div>
</div>
