<div class="card m-3 rounded-4">
    
    <div class="container m-2">
        <div class="row">
            <h3 class="col-11">Experiencia</h3>
            <p class="col-1 h3">+</p>
        </div>
    </div>
    
    <div class="container m-2">
        <div class="row">
            <img class="col-1" src="/assets/img/logo-apex.jpg" alt="">
            <div class="col-11 container">
                <h3 class="card-title m-1 h3">Atención al cliente</h3>
                <p class="card-text m-1">Apex - Jornada completa</p>
            </div>
        </div>
    </div>
    <h3 class="card-title m-3 h2">Educación</h3>
</div>
