<div class="card m-3 rounded-4">

    <div class="d-flex justify-content-between align-items-center mx-3 mt-2">
        <h3 class="h2" id="acerca-de">{{titulo}}</h3>
        <fa-icon class="fapen-acerca" [icon]="faPen"></fa-icon>
    </div>

    <p class="card-text mx-3 mb-3 w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tempore,
        sequi dolore tempora quo deleniti repellendus quisquam nostrum quidem voluptate sint sed officiis.
        Debitis repellendus quia alias, dignissimos dolores necessitatibus.
    </p>

</div>